.row{
  max-width: none;
  width: 100%;
}

.off-canvas-wrapper{
  background-color: #191919;
}

.off-canvas{
  background-color: #191919;
  color: white;
}

.off-canvas a{
  color: white;
}

.off-canvas a:hover{
  color: #6AE69E;
}

.top-bar{
  background-color: #191919;
}

.top-bar-left{
  background-color: #191919;
}

.top-bar-right{
  background-color: #191919;
  padding-top: 5px;
}

.top-bar-right .menu{
  background-color: #191919;
}

.top-bar-right .button{
  margin-right: 2rem;
}

.button{
  background-color: #191919;
}

.button:hover{
  background-color: #6AE69E;
}


#frontpage_banner{
  margin: 0;
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=42b2cd0f8dff6cebaf8d8fe3fa278a9e);
  background-size: cover;
  background-position: center;
}

#bookit_logo{
  height: 20rem;
}

#bookit_heading{
  padding-top: 7rem;
  text-align: center;
  background-color: #191919;
  color: white;
}

#bookit_subheading{
  text-align: center;
  padding-bottom: 7rem;
  background-color: #191919;
  color: white;
}

.orbit-bullets{
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #191919;
}

.orbit img{
  height: 40rem;
}

#footer-icons{
  height: 10rem;
  background-color: #191919;
  text-align: center;
}

#footer-text{
  background-color: #191919;
  text-align: center;
  color: white;
}

.fa{
  color: white;
  padding: 1rem;
}

.fa:hover{
  color: #6AE69E;
}
